<div class="groups-container" *ngIf="!loading">
  <div class="title-container">
    <h1 class="title">Группы кампусных курсов</h1>
    <button mat-raised-button *ngIf="userService.isAdmin()" (click)="openCreateGroup()">Создать</button>
  </div>
  <mat-form-field class="search_container" appearance="outline">
    <mat-label aria-required="false">Поиск</mat-label>
    <input matInput [(ngModel)]="search">
  </mat-form-field>
  @for (group of groups | filterGroups:search; track group.id) {
    <app-group [title]="group.name" [groupId]="group.id" [deleteGroup]="openDeleteGroup" [editGroup]="openEditGroup"></app-group>
  }
</div>
