.mat-toolbar {
  gap: 8px;
}

.mat-toolbar a {
  font-size: 16px;
}

span.title {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

a[routerLink] {
  color: unset;
  text-decoration: none;
}

a {
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 8px;
  user-select: none;
}

a:hover,
a.focus,
a.item-selected:hover,
a.item-selected.focus {
  background-color: #0006;
}

a.item-selected {
  background-color: #0003;
}

