.registration-form-group {
  margin-top: 30px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.register_button {
  height: 50px;
}
